/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 0 16px 16px;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* General classes
 ------------------------------------------------- */
/* TODO: it isn’t really red! */
.red {
  color: #6e4a7e;
}

.line {
  width: 100%;
}

.line-insertion {
  background: #eaffea;
}

.line-deletion {
  background: #ffecec;
}

.line-num {
  text-align: right;
  width: 3em;
  padding: 0 8px;
}

.line-insertion .line-num-deletion {
  font-size: 0;
}

.line-deletion .line-num-insertion {
  font-size: 0;
}

.code-diff {
  padding: 0;
}

.code-diff--table {
  width: 100%;
}

.code-diff--tablebody {
  width: 100%;
}

.btn-primary {
  background-color: #F67938;
  border-color: #F67938;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #EB7335;
  border-color: #EB7335;
}

a {
  color: #F67938;
}

a:hover, a:visited, a:active {
  color: #EB7335;
}

select.form-control {
  margin: 0 16px 0 8px;
}
